<div>

  <div class="feedback">
    <h4><i><%= feedback %></i></h4>
  </div>

  <hr>

  <div>
    <h4>What would you like to do next?</h4>
    <div class="padding">
      <p><a href = "/get_entry">Create a new entry</a></p>
      <p><a href = "/list_entries">View an existing entry</a></p>
      <p><a href = "/get_search">Update or delete an existing entry</a></p>
    </div>
  </div>

  <hr>

</div>