<div>

  <div class="feedback">
    <p><i><%= feedback %></i></p>
  </div>

  <hr>

  <div>
    <h4>What would you like to do next?</h4>
    <div class="padding">
      <p><a href = "/get_entry">Create a new phonebook entry</a></p>
      <p><a href = "/list_entries">View an existing phonebook entry</a></p>
      <p><a href = "/get_search">Update or delete an existing phonebook entry</a></p>
    </div>
  </div>

  <hr>

</div>