<div>

  <div>
    <h4>Select a name to view the entry for that person:</h4>
  </div>

  <div class="padding">
    <!-- dynamic table to list all users in personal_details.db -->
    <table>
      <% names.each_slice(3).to_a.each do |group| %>
        <tr>
        <% group.each do |person| %>
          <% lname = person.split(/,/).first %>
          <% fname = person.split(/, /).last %>
          <% unless fname == nil %>
            <% fname.include? " " ? furl = fname.gsub(" ", "%20") : furl = fname %>
            <% lname.include? " " ? lurl = lname.gsub(" ", "%20") : lurl = lname %>
            <% url = "/entry_info?fname=" + furl + "&lname=" + lurl %>
          <% end %>
          <td class="medium"><a href=<%= url %>><%= person %></a></td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <hr>

</div>
