<div>
  <h4>Please select from one of the following:</h4>
  <div class="padding">
    <p><a href = "/get_entry">Create a new entry</a></p>
    <p><a href = "/list_entries">View an existing entry</a></p>
    <p><a href = "/get_search">Update or delete an existing entry</a></p>
  </div>
</div>

<hr>