<div class="col-sm-4"></div>  <!-- for centering main div -->

<div class="col-sm-4 padding">
  <h3>Phonebook FAQ</h3>
  <hr>
  <div>
    <ul class="list-group">
      <li class="list-group-item">
        <p class="faq">• How can I add a new entry?</p>
        <p class="indent">To add a new item, select <b>New</b> from the menu.</p></li>
      <li class="list-group-item">
        <p class="faq">• How can I view all of the existing entries?</p>
        <p class="indent">To list all entries, select <b>List</b> from the menu.</p></li>
      <li class="list-group-item">
        <p class="faq">• How can I update or delete an entry?</p>
        <p class="indent">To update or delete an entry:</p>
        <ol>
          <li>Use <b>List</b> or search to locate an entry.</li>
          <li>Use the onscreen controls to update or delete the entry.</li>
        </ol>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-4"></div>  <!-- for centering main div -->