<div class="center-block">
  <h3>Phonebook Usage Tips</h3>
  <hr>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 padding">
    <ul>
      <li>To add a new item, select <b>Menu</b> : <b>New Entry</b></li>
      <li>To list all entries, select <b>Menu</b> : <b>List Entries</b></li>
      <li>To update or delete an entry:</li>
        <ol>
          <li>Select a field from the dropdown</li>
          <li>Enter a value in the search field</li>
          <li>Click the magnifying glass button to search</li>
          <li>Select the desired record</li>
          <li>Use the onscreen controls to update/delete the entry</li>
        </ol>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>