<div>

  <h3><b>Confirmation Required</b></h3>
  <hr>
  <h4>Click <b>Confirm</b> to delete the record for <%= entry_hash["fname"] %> <%= entry_hash["lname"] %>.</h4>

  <div class="center-block">
    <div class="padding col-sm-12">
      <form  method="post" action="delete_info">
        <input type="hidden" name="id[id]" value="<%= entry_hash["id"] %>">
        <div class="text-center">
          <button class="btn btn-default" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>

  <hr>

</div>