<div>

  <h3><b>Confirmation Required</b></h3>
  <h4>Click <b>Delete</b> to delete the record for <%= entry_hash["fname"] %> <%= entry_hash["lname"] %>.</h4>

  <form method = "post" action = "delete_info">
    <input type = "hidden" name = "id[id]" value = "<%= entry_hash["id"] %>">
    <div class = "button">
      <input class="button-color" type = "submit" value = "Delete">
    </div>
  </form>

  <hr>

  <h4>Otherwise, please select one of the following:</h4>

  <div class="padding">
    <p><a href = "/get_entry">Create a new entry</a></p>
    <p><a href = "/list_entries">View an existing entry</a></p>
    <p><a href = "/get_search">Update or delete an existing entry</a></p>
  </div>

  <hr>

</div>