body {
  background-color: #f4e842;
  font-family: Verdana, Geneva, sans-serif;
  color: #000000;
}

div {
  display: table;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: #000000;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

hr {
  height: 1px;
  width: 450px;
  border-top: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  outline: 1px solid #000000;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #fff791;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding: 10px;
}

.padding-td {
  padding: 8px;
}

.margin {
  margin: 10px;
}

.button {
  text-align: right;
  padding: 8px;
}

.button-color {
  background-color: #fff791;
}

.wide {
  text-align: left;
  width: 200px;
  padding: 8px;
}

.medium {
  text-align: left;
  width: 150px;
  padding: 8px;
}

.narrow {
  text-align: center;
  vertical-align: top;
  width: 100px;
  padding: 8px;
}

.result {
  vertical-align: top;
  padding: 8px;
}